VERSION
utils.py
test.py
RELEASE_NOTES*
ns3
LICENSE
CONTRIBUTING.md
CHANGES.md
AUTHORS
.lock-ns3_linux_build
.editorconfig
.clang-tidy
.clang-format
.xml
/utils

/doc  
/cmake-cache
/build-support
/build
/bindings
/.vscode
/src/buildings
doc*
scratch/.gitattributes
!document.h
__pycache__/
.gitignore
SAC/